openapi: 3.0.3
info:
  title: Flutterwave v3 API (subset)
  version: "3.0.0"
  description: >
    Subset of Flutterwave's v3 API this platform calls: initiate a Standard
    Checkout payment, verify a transaction, and pay out to a merchant's bank
    account or mobile money wallet via transfers. Written from Flutterwave's
    own v3.0.0 developer reference (no published machine-readable OpenAPI
    document was reachable at design time) — auth header format and a few
    response fields are inferred from documentation examples and should be
    confirmed against a live sandbox call.
servers:
  - url: https://api.flutterwave.com/v3
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Flutterwave secret key, sent as "Bearer <FLUTTERWAVE_SECRET_KEY>"
  schemas:
    Error:
      type: object
      required: [code, message]
      properties:
        code: { type: integer }
        message: { type: string }
        description: { type: string }
        moreInfo: { type: string }
    CreatePaymentRequest:
      type: object
      required: [tx_ref, amount, currency, redirect_url, customer]
      properties:
        tx_ref: { type: string, description: unique transaction reference generated by the caller }
        amount: { type: string }
        currency: { type: string, enum: [NGN, KES, GHS] }
        redirect_url: { type: string }
        payment_options: { type: string, description: "comma-separated, e.g. card,mobilemoneyghana,mobilemoneyuganda" }
        customer:
          type: object
          required: [email]
          properties:
            email: { type: string }
            phonenumber: { type: string }
            name: { type: string }
    CreatePaymentResponse:
      type: object
      properties:
        status: { type: string }
        message: { type: string }
        data:
          type: object
          properties:
            link: { type: string, description: hosted checkout URL to redirect the customer to }
    VerifyTransactionResponse:
      type: object
      properties:
        status: { type: string }
        message: { type: string }
        data:
          type: object
          properties:
            id: { type: integer }
            tx_ref: { type: string }
            flw_ref: { type: string }
            amount: { type: number }
            currency: { type: string }
            charged_amount: { type: number }
            app_fee: { type: number }
            status: { type: string, description: "successful | failed | pending" }
            payment_type: { type: string }
            created_at: { type: string }
    CreateTransferRequest:
      type: object
      required: [account_bank, account_number, amount, currency]
      properties:
        account_bank: { type: string, description: bank code, or mobile money network code }
        account_number: { type: string, description: account number or mobile wallet number }
        amount: { type: number }
        currency: { type: string, enum: [NGN, KES, GHS] }
        narration: { type: string }
        reference: { type: string, description: unique transfer reference generated by the caller }
    TransferResponse:
      type: object
      properties:
        status: { type: string }
        message: { type: string }
        data:
          type: object
          properties:
            id: { type: integer }
            reference: { type: string }
            amount: { type: number }
            currency: { type: string }
            status: { type: string, description: "NEW | PENDING | SUCCESSFUL | FAILED" }
            created_at: { type: string }
security:
  - bearerAuth: []
paths:
  /payments:
    post:
      operationId: createPayment
      summary: Initiate a Standard Checkout payment (returns a hosted link for card or mobile money)
      x-aep-source: https://developer.flutterwave.com/v3.0.0/llms.txt
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePaymentRequest' }
      responses:
        '200':
          description: hosted checkout link created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatePaymentResponse' }
        '400': { description: invalid request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
  /transactions/{id}/verify:
    get:
      operationId: verifyTransaction
      summary: Verify a transaction's final status by its Flutterwave id
      x-aep-source: https://developer.flutterwave.com/v3.0.0/llms.txt
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: transaction status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VerifyTransactionResponse' }
        '404': { description: transaction not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
  /transfers:
    post:
      operationId: createTransfer
      summary: Pay out to a merchant's bank account or mobile money wallet
      x-aep-source: https://developer.flutterwave.com/v3.0/reference/create-a-transfer
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateTransferRequest' }
      responses:
        '200':
          description: transfer initiated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TransferResponse' }
        '400': { description: invalid request, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
  /transfers/{id}:
    get:
      operationId: getTransfer
      summary: Fetch one transfer's status
      x-aep-source: https://developer.flutterwave.com/v3.0/reference/get-a-transfer
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: transfer detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TransferResponse' }
        '404': { description: transfer not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
